<% @upcoming_events.each do |event|%>
  <% link_to  event_path(event) do %>
    <%#= event.title.capitalize %>
    <p>Creator: <%= event.creator.name %></p>
    <p><%= event.description %></p>
    <p>Event Date: <%= event.date %></p>
    <%= @user_attending?(event.id).each do |button|%>
      <% button %>
    <% end %>
  <% end %>
<% end %>