<h1>Upcoming events: <%= pluralize(@upcoming_events.count, 'Event') %></h1>
<div>
  <%= render 'futureevents' %>
</div>
<div>
  @upcoming_events
</div>


<h1>Past events: <%= pluralize(@past_events.count, 'Event')%></h1>
<div>
  <%= render 'pastevents'%>
</div>
<div>
  @past_events
</div>
