@import "bootstrap";

li {
    list-style: none;
}

.main-container{
    height: 90vh;
}

.login-container{
    width: 400px;
    margin:  auto;
}

.card {
    width: 18rem !important;
}

.font-1em {
    font-size: 0.9em !important;
}